.content-modal {
  display: flex;
  flex-direction: column;
  
  padding: 2rem;
  
  gap: 5rem;
  
}

.content-modal__inputs {
  display: flex;
  flex-direction: column;
}

.content-modal__inputs > input {
  margin-bottom: 1rem;
}

.content-modal__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-around;
}